# contains stuff we want git to not remember

# Node
node_modules/
dist/
.env
.env.local

# Python
__pycache__/
*.pyc
venv/
.env/
*.pkl
*.joblib

# System
.DS_Store
Thumbs.db

# Build & logs
*.log
*.sqlite3
